<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.tcc_consultorioConnectionString" connectionString="server=localhost;user id=root;database=tcc_consultorio" providerName="MySql.Data.MySqlClient"/>
        <add name="WindowsFormsApp2.Properties.Settings.tcc_consultorioConnectionString1" connectionString="server=127.0.0.1;user id=root;database=tcc_consultorio" providerName="MySql.Data.MySqlClient"/>
        <add name="WindowsFormsApp2.Properties.Settings.tcc_consultorioConnectionString3" connectionString="server=127.0.0.1;user id=root;database=tcc_consultorio;allowuservariables=True" providerName="MySql.Data.MySqlClient"/>
        <add name="WindowsFormsApp2.Properties.Settings.livrariaConnectionString" connectionString="server=localhost;user id=root;database=livraria" providerName="MySql.Data.MySqlClient"/>
        <add name="WindowsFormsApp2.Properties.Settings.tcc_consultorioConnectionString2" connectionString="server=127.0.0.1;user id=root;database=tcc_consultorio;allowuservariables=True;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
